@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
  background-color: #008ed9 !important;
  .navbar-brand {
    margin: -20px 0;
  }
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}
