<div class="basket-container">
  <div class="basket">
    <div *ngFor="let index of [0, 1, 2]">
      <div droppable (onDrop)="phoneDropped($event, index)" class="drop-area">
        <div class="phone" [ngClass]="{ active: !!droppedPhones[index] }">
          <img src="assets/apple.svg" alt="" />
        </div>
        <button
          class="btn btn-outline-danger btn-remove-phone"
          *ngIf="!!droppedPhones[index]"
          (click)="removePhone(index)"
        >
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <button class="btn btn-info compare-btn" [disabled]="disableCompareButton()">
      Compare Now
    </button>
  </div>
</div>
