<div class="col s12 functionalities">
  <ul id="breadcrumb" class="breadcrumb">
    <li></li>
    <li class="active">
      <a title=""><i class="material-icons">home</i></a>
    </li>
  </ul>
</div>
<div class="container-fluid container">
  <div class="row">
    <div class="col-6">
      <div [routerLink]="['/list']" [queryParams]="{ sort: 'popularity', order: 'desc' }">
        <div class="top-phone phone-container">
          <div class="title text-right">
            POPULAR BRANDS
          </div>
          <div class="phone">
            <img src="{{ getImage((overview || {}).mostPopular) }}" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div [routerLink]="['/list']" [queryParams]="{ sort: 'value', order: 'asc' }">
        <div class="top-phone phone-container">
          <div class="phone">
            <img src="{{ getImage((overview || {}).bestBudget) }}" />
          </div>
          <div class="title text-left">
            BEST PRICE
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div [routerLink]="['/list']" [queryParams]="{ sort: 'camera', order: 'desc' }">
        <div class="phone-container">
          <div class="title text-left">
            BEST CAMERA
          </div>
          <div class="phone">
            <img src="{{ getImage((overview || {}).bestCamera) }}" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div [routerLink]="['/list']" [queryParams]="{ sort: 'performance', order: 'desc' }">
        <div class="phone-container">
          <div class="title text-left">
            BEST PERFORMANCE
          </div>
          <div class="phone">
            <img src="{{ getImage((overview || {}).bestPerformer) }}" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div [routerLink]="['/list']" [queryParams]="{ sort: 'review', order: 'desc' }">
        <div class="phone-container">
          <div class="title text-left">
            BEST REVIEWS
          </div>
          <div class="phone">
            <img src="{{ getImage((overview || {}).mostAdmired) }}" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div [routerLink]="['/list']">
        <div class="phone-container">
          <div class="title text-left">
            YOU CHOOSE
          </div>
          <div class="phone">
            <img src="{{ getImage() }}" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="jumbotron text-center">
    <h1>
      <span translate>Hello world !</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{ quote }}</q>
  </div>
  -->
</div>
