@media (max-width: 1650px) {
  .container-fluid {
    max-width: calc(100% - 150px);
  }

  .phones-list {
    max-width: calc(100% - 250px);
  }
}

.phone-container {
  background: white;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 300ms ease-in-out;
  min-width: 200px;
  &:hover {
    outline: 4px solid #ddd;
    background: #fafafa;
  }

  .phone {
    pointer-events: none;
    > img {
      height: 150px;
    }
  }
  .title {
    margin-top: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover {
      text-decoration: underline;
      color: #428cbd;
    }
  }

  &.top-phone {
    flex-direction: row;
    .phone {
      > img {
        height: 300px;
      }
    }
  }
}

.phone-details-item {
  display: flex;
  margin: 10px 0;
  outline: 1px solid #ccc;
  .details-box {
    flex: 1 1;
    margin: 0;
    background: #e6e6e6;
    padding: 10px 15px;
    .phone-title {
      font-size: 1.2em;
      border-bottom: 1px solid #428cbd;
      margin-bottom: 10px;
      a {
        color: #428cbd;
      }
    }
    .details {
      display: flex;
      .sec-title {
        border-bottom: 1px solid #aaa;
        margin-bottom: 10px;
      }
      .features {
        flex: 1 1;
        overflow: hidden;
        .feature {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-right: 10px;
        }
      }
      .scores {
        flex: 0 0 200px;
      }
    }
  }
  &:hover {
    outline: 4px solid #ddd;
    background: #fafafa;
  }
}

.filters {
  .nav-item {
    margin-right: 40px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 150ms ease-in-out;
    .fa {
      margin-left: 5px;
    }
    &:hover {
      opacity: 1;
      a {
        color: #428cbd;
      }
    }
    &.active {
      opacity: 1;
    }
  }
}

.bold {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer !important;
}
