<div class="container-fluid container">
  <h2>{{ sort }} / {{ order }}</h2>
  <div class="row">
    <div
      class="col-3"
      *ngFor="let phone of phones; let i = index"
      draggable
      [dragClass]="'my-draggable'"
      [dragData]="i"
    >
      <div [routerLink]="['/detail']" [queryParams]="{ id: i }">
        <div class="phone-container">
          <div class="title text-left">
            {{ i }}
          </div>
          <div class="phone">
            <img src="assets/apple.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-basket></app-basket>
