<div class="container-fluid container">
  <h2>{{ sort }} / {{ order }}</h2>
  <div class="row">
    <div
      class="col-3"
      *ngFor="let phone of phones; let i = index"
      draggable
      [dragClass]="'my-draggable'"
      [dragData]="phone"
    >
      <div [routerLink]="['/detail']" [queryParams]="{ id: phone.id }">
        <div class="phone-container">
          <div class="phone">
            <img [src]="phone.img_url" alt="" />
          </div>
          <a class="title text-left">{{ phone.brand }} {{ phone.model }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-basket></app-basket>
